html
	head
		title Plantaor
	body
		h1 Wasabi
		each cam in cameras
			h3= cam.name
			div
				each vid in cam.videos
					a(href=vid.path) =vid.name
			each img in cam.images
				a(href=img)
					img(src=img alt=img width=128 style="padding-right:2px")